@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="height: 900px; background-color:gainsboro">


    <div class="row">

        <div class="col-md-3" style="background-color: red; color: white;">

            <div class="text-center">

                <h3 style="color: red;">Sports News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Beakin news</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Health Info</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Education News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />





        </div>

        <div class="col-md-6" style="background-color: blue; color: maroon;">

            <div class="text-center">

                <h3 style="color: maroon;">warka Manta</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">War Dagdag ah</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Latest busness news</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">asia News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">America News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Market News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />


        </div>
        <div class="col-md-3" style="background-color: yellow; color:darkred;">




            <div class="text-center">

                <h3 style="color: maroon;">Bussuness News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">imigratio News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Africa News</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

            <div class="text-center">

                <h3 style="color: maroon;">Agriculture News </h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </p>

            </div>
            <hr />

        </div>

    </div>

</div> 